html{
	/* margin: 40px; */
	
	/* width: 130vw; */
	background-color: #8D97A1;
	color: #FFF6EE;
	font-family: sans-serif;
}

body{
    justify-content: flex-start;
    align-items: center;
    
    align-content: auto;
	align-self: auto;
	display: flex;
	flex-basis: auto;
	flex-direction: column;
	flex-flow: auto;
	flex-grow: auto;
	flex-shrink: auto;
	flex-wrap: auto;
	order: auto;
	
	text-align: center;	
}

nav{

	display: none;
    /* justify-content: space-around;
    align-items: center;
    
    align-content: auto;
	align-self: auto;
	display: flex;
	flex-basis: auto;
	flex-direction: column;
	flex-flow: auto;
	flex-grow: auto;
	flex-shrink: auto;
	flex-wrap: auto;
    order: auto;
    font-size: 50px;
    width: 100%;
	margin: 50px;

	background-color: #698EA6;
	height: 200px; */
}
.innerContainer{
	height:0;
	width: 0;
	overflow-x:visible;
	overflow-y:visible;
  }
  .outerContainer{
	height: 20vw;
	justify-content: space-around;
    align-items: center;
    
    align-content: auto;
	align-self: auto;
	display: flex;
	flex-basis: auto;
	flex-direction: column;
	flex-flow: auto;
	flex-grow: auto;
	flex-shrink: auto;
	flex-wrap: auto;
    order: auto;
	margin: 50px 0 0 0;
	background-color: #698EA6;
	position: absolute;
	/* top: 150px; */
	left: 55vw;
	z-index: 1;
  }

.mydata{
    justify-content: space-around;
    align-items: center;
    
    align-content: auto;
	align-self: auto;
	display: flex;
	flex-basis: auto;
	flex-direction: row;
	flex-flow: auto;
	flex-grow: auto;
	flex-shrink: auto;
	flex-wrap: nowrap;
    order: auto;

	width: 100%;
	height: 40vh;
	
	margin: 150px 0 150px 0;
	font-size: 80%;

	background-color: #2f2f2f;
}

.heroimg{
	width: 70%;
	/* width: 500px; */
	transform: rotatez(-20deg);
}


.label{
	/* transform: rotatez(-90deg); */
	transform: rotatez(30deg);
	margin: 0 0 0 5vw;
	/* width: 320px;
	height: 150px; */
}

.aboutme{
    justify-content: space-around;
    align-items: center;
    
    align-content: auto;
	align-self: auto;
	display: flex;
	flex-basis: auto;
	flex-direction: row;
	flex-flow: auto;
	flex-grow: auto;
	flex-shrink: auto;
	flex-wrap: nowrap;
    order: auto;
	width: 100%;
	
	margin: 10vw;
}
.aboutmeHeader{
    justify-content: center;
    align-items: center;
    
    align-content: center;
	align-self: auto;
	display: flex;
	flex-basis: auto;
	flex-direction: column;
	flex-flow: auto;
	flex-grow: auto;
	flex-shrink: auto;
	flex-wrap: auto;
    order: auto;

	/*width: 180px;*/
	
}
.aboutmeHeader > h1{
	width: 50%;
}
.aboutmecols{
	margin: 0 10px 0 10px;
	width: 70%;
}

.aboutme > .aboutmecols > article{
    font-size: 20px;
    /* background-color: grey; */
    justify-content: center;
    align-items: center;
    
    align-content: auto;
	align-self: auto;
	display: flex;
	flex-basis: auto;
	flex-direction: column;
	flex-flow: auto;
	flex-grow: auto;
	flex-shrink: auto;
	flex-wrap: auto;
    order: auto;

	text-align: center;

	margin: 40px;
	
}


.lego_video{
	justify-content: space-around;
    align-items: center;
    
    align-content: auto;
	align-self: auto;
	display: flex;
	flex-basis: auto;
	flex-direction: column;
	flex-flow: auto;
	flex-grow: auto;
	flex-shrink: auto;
	flex-wrap: auto;
	order: auto;

	margin: 20px;
	
	
}

.lego_info{
	justify-content: flex-start;
    align-items: center;
    
    align-content: auto;
	align-self: auto;
	display: flex;
	flex-basis: auto;
	flex-direction: row;
	flex-flow: auto;
	flex-grow: auto;
	flex-shrink: auto;
	flex-wrap: auto;
    order: auto;

	margin: 100px 0 100px 0;
}

.lego_text{
	margin: 20px;
}

.project_container{
	justify-content: space-around;
    align-items: center;
    
    align-content: auto;
	align-self: auto;
	display: flex;
	flex-basis: auto;
	flex-direction: column;
	flex-flow: auto;
	flex-grow: auto;
	flex-shrink: auto;
	flex-wrap: auto;
	order: auto;

	background-color: #2f2f2f;
	margin: 30vh 0 30vh 0;
	width: 100vw;
}

.appLanding{
	width: 25vw;
	height: 12vw;
	border: 3px solid black; 
}


.project{
	justify-content: space-around;
    align-items: center;
    
    align-content: auto;
	align-self: auto;
	display: flex;
	flex-basis: auto;
	flex-direction: column;
	flex-flow: auto;
	flex-grow: auto;
	flex-shrink: auto;
	flex-wrap: auto;
	order: auto;
/* 	
	border: 3px solid white;
	margin: 1vw; */
	width: 50vw;
	height: 40vh;
}
.project > img{
	width: 300px;
	height: 150px;
}

.projects{	
	justify-content: space-around;
    align-items: center;
    
    align-content: auto;
	align-self: auto;
	display: flex;
	flex-basis: auto;
	flex-direction: row;
	flex-flow: auto;
	flex-grow: auto;
	flex-shrink: auto;
	flex-wrap: auto;
	order: auto;

	width: 100vw;
	height: 50vw;

	font-size: 1.8vw;

	margin: 30vh 0 30vh 0;

	
}

.main_project{
	margin: 5vw;
	/* border: 3px solid white; */
	font-size: 1.8vw;	
}

.main_appLanding{
	width: 50%;
}


.appLink{
	margin: 5px 0 0 5px;
}

a{
	color: white;
	text-decoration: none;
}
a:visited{
	color: white;
}
a:hover{
	color: grey;
	text-decoration: underline;
}


.lego_head{
	width: 30%;
}

.uavAward{
	width: 60%;
	height: 60%;
}


p{
	font-size: 30px;
}

.auv_corner{
	width: 35vw;
	height: 35vw;
	transform: rotatez(90deg);


	animation-duration: 5s;
	animation-name: fade;
	animation-iteration-count: infinite;
	/* animation-direction: alternate; */
  
}


.menu{
	font-size: 3em;
	margin: 0 0 30px 0;
	color: black;
}


.whoamI{
	background-color: #2f2f2f;
	margin: 40vh 0 40vh 0;
	width: 100vw;
}



footer{
	/* height: 30vh; */
	width: 100vw;
	margin: 10vh 0 0 0;
	background-color: black;
}


.whoamI > img{
	width: 512px;
	background-color: #B2AE92;
}


.rightImageHardwareContainer{
	justify-content: space-around;
    align-items: center;
    
    align-content: auto;
	align-self: auto;
	display: flex;
	flex-basis: auto;
	flex-direction: row-reverse;
	flex-flow: auto;
	flex-grow: auto;
	flex-shrink: auto;
	flex-wrap: auto;
	order: auto;
	
	text-align: center;	

	background-color: #2f2f2f;
	width: 100vw;
	margin: 20vh 0 20vh 0;
}

.leftImageHardwareContainer{
	justify-content: space-around;
    align-items: center;
    
    align-content: auto;
	align-self: auto;
	display: flex;
	flex-basis: auto;
	flex-direction: row;
	flex-flow: auto;
	flex-grow: auto;
	flex-shrink: auto;
	flex-wrap: auto;
	order: auto;
	
	text-align: center;	

	background-color: #2f2f2f;
	width: 100vw;
	margin: 20vh 0 20vh 0;
}


.icons > i{
	font-size: 5em;
}

.icons > i:hover{
	color: grey;
}


.whoamI > img:hover{
	animation-duration: 1.5s;
	animation-name: fade;
	animation-iteration-count: infinite;
}



.bhlogo{
	justify-content: space-around;
    align-items: center;
    
    align-content: auto;
	align-self: flex-start;
	display: flex;
	flex-basis: auto;
	flex-direction: row;
	flex-flow: auto;
	flex-grow: auto;
	flex-shrink: auto;
	flex-wrap: auto;
	order: auto;
	
	text-align: center;	

}



/* long desktop view */
/* @media screen and (orientation: portrait) and (min-width: 1024px){
	html{
		background-color: red;
	}

} */



/* regular desktop view */
/* @media screen and (orientation: landscape) and (min-width: 768px){ */
@media screen and (orientation: landscape){	
	/* html{
		background-color: green;
	} */

	.menu > i{
		display: none;
	}

	.outerContainer{
		
		background-color: black;
		position: relative;
		/* top: 150px; */
		left: 0px;
		width: 100vw;
		height: 20vh;
		margin: 0px;
		background:linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,.2));
	  }

	nav{
		justify-content: space-around;
		align-items: center;
		
		align-content: auto;
		align-self: auto;
		display: flex;
		flex-basis: auto;
		flex-direction: row;
		flex-flow: auto;
		flex-grow: auto;
		flex-shrink: auto;
		flex-wrap: auto;
		order: auto;
		font-size: 50px;
		width: 100%;
		margin: 50px;
	
		/* background-color: black; */
		/* background-color: linear-gradient(to top, black, red); */
		height: 200px;
	}

	.heroimg{
		width: 450px;
		/* width: 500px; */
		transform: rotatez(-20deg);
	}

	.mydata{
		justify-content: space-around;
		align-items: center;
		
		align-content: auto;
		align-self: auto;
		display: flex;
		flex-basis: auto;
		flex-direction: row;
		flex-flow: auto;
		flex-grow: auto;
		flex-shrink: auto;
		flex-wrap: nowrap;
		order: auto;
	
		width: 100vw;
		height: 60vh;
		
		margin: 0 0 40vh 0;
		font-size: 80%;
	
		background-color: #2f2f2f;
	}

	.project > img{
		width: 500px;
		height: 200px;
	}

	.project{
		justify-content: space-around;
		align-items: center;
		
		align-content: auto;
		align-self: auto;
		display: flex;
		flex-basis: auto;
		flex-direction: column;
		flex-flow: auto;
		flex-grow: auto;
		flex-shrink: auto;
		flex-wrap: auto;
		order: auto;
	/* 	
		border: 3px solid white;
		margin: 1vw; */
		width: 45vw;
		height: 100vh;
	}
}




@keyframes fade {
	0%{
		opacity: 0;
	}
	50%{
		opacity: 1
	}
	100%{
		opacity: 0
	}
}

@keyframes pulse{
	100%{
		width: 50%;
	}
}