body{
	background: url('https://i.ytimg.com/vi/7dkrwPrmH-Y/maxresdefault.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: relative;
}

@media(orientation:portrait){
	body{
		background: url('https://i.ytimg.com/vi/7dkrwPrmH-Y/maxresdefault.jpg');
		background-size: cover;
		background-repeat: no-repeat;
	}
}

ol{
	text-align: center;
	float: bottom;
}




li{
	font-size: 30px;
	margin: 10%;
	display: none;
	font-family: 'Bubbler One', sans-serif;
}

hr{
	width: 50%;
	float: right;
	position: relative;
}


.peg{
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 100%;
}



.gear{
	background: url("http://www.clker.com/cliparts/H/W/b/b/n/4/red-gear-hi.png") 0 0;
	/*background: url('https://openclipart.org/image/2400px/svg_to_png/169903/1336392323.png');*/
	border-radius: 100%;
	background-size: cover;
	border: none;
}

/*multiply by 6*/
#gear1{
	width: 72px;
	height: 72px;
}

#gear2{
	width: 84px;
	height: 84px;
}
#gear3{
	width: 36px;
	height: 36px;
}

#next_button{
	border-radius: 30%;
	width: 20%;
	height: 30px;
	float: right;
}