.square1 {
	width: 100px;
	height: 100px;
	background: red;
    z-index: 0;
    position: absolute;
}
.square2 {
	width: 100px;
	height: 100px;
	background: red;
    transform: rotate(15deg);
    z-index: 1;
    position: absolute;
}
.square3 {
	width: 100px;
	height: 100px;
	background: red;
    transform: rotate(30deg);
    z-index: 2;
    position: absolute;
}
.square4 {
	width: 100px;
	height: 100px;
	background: red;
    transform: rotate(45deg);
    z-index: 3;
    position: absolute;
}
.square5 {
	width: 100px;
	height: 100px;
	background: red;
    transform: rotate(60deg);
    z-index: 4;
    position: absolute;
}
.square6 {
	width: 100px;
	height: 100px;
	background: red;
    transform: rotate(75deg);
    z-index: 4;
    position: absolute;
}

.gear{
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
}